  body {
            font-family: 'Times New Roman', Times, serif;
        }
        .top-bar { 
            position: sticky;
            top: 0;
            left: 0;
            right: 0;
            background-color: blue;
            color: white;
            padding: 10px;
            text-align: right;
        }
        .top-bar a {
            color: white;
            text-decoration: none;
            border-radius: 5px;
            margin: 5px;
            padding: 15px;
            background-color: #16ce75;
        }
        .top-bar a:hover {
            background-color: #b70d0d;
        
        }
        .button{
            background-color: rgb(232, 253, 95);
            padding-block-start: 5px;
            margin: 5px;
            border-radius: 10px;
        }
        .button a:hover{
            background-color: #1fb852;
        }